<style>
    pre {
        white-space: pre-wrap;
    }
</style>

<h1>{{ title }}</h1>
<div class="tagline">
    <a href="https://ja.m.wikipedia.org/wiki/{{ page | urlencode }}" target="_blank">[source]</a>
</div>

<div style="display: flex">
    <div style="flex: 1">
        <h1>Prompt</h1>
        <details>
            <summary>System Instruction</summary>
            <pre>{{prompt.system}}</pre>
        </details>
        <h2>User Prompt</h2>
        <pre>{{prompt.user}}</pre>
    </div>
    <div style="flex: 1">
        <h1>Generation</h1>
        <p>
            {% for generation in generations %}
            <a href="#gen{{loop.index}}"><b>#{{loop.index}}</b> ({{generation.generated_tokens}}/{{generation.finish_reason}}</small>)</a><br>
            {% endfor %}
        </p>

        {% for generation in generations %}
            <div id="gen{{loop.index}}">
                <h2>#{{ loop.index }}</h2>
                <p>{{generation.generated_tokens}} tok / finish reason: {{generation.finish_reason}}</p>
                <pre>{{generation.text}}</pre>
            </div>
        {% endfor %}
        {% if stacktrace %}
            <h2>Error Stacktrace</h2>
            <pre>{{stacktrace}}</pre>
        {% endif %}
    </div>
</div>
