<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{{ data.title }}</title>
        <link rel="stylesheet" href="//meta.wikimedia.org/api/rest_v1/data/css/mobile/base">
        <link rel="stylesheet" href="//ko.wikipedia.org/api/rest_v1/data/css/mobile/site">
        <link rel="stylesheet" href="//meta.wikimedia.org/api/rest_v1/data/css/mobile/pcs">
    </head>
    <body>
        <div class="pre-content heading-holder">
            <div class="page-heading">
                <h1 id="firstHeading" class="firstHeading mw-first-heading"><span class="mw-page-title-main">{{ data.page.title }}</span></h1>
                <div class="tagline">
                    <a href="https://ja.m.wikipedia.org/wiki/{{ data.page.title | urlencode }}" target="_blank">[source]</a>
                </div>
            </div>
        </div>

        <div id="bodyContent" class="content">
            <div id="mw-content-text" class="mw-body-content">
                <p>{{ chunks | length }} parts</p>
                {% for chunk in chunks %}
                    #{{ loop.index0 }}: {{ chunk.raw | length }} chars
                    <details>
                        <summary>Restored</summary>
                        <div style="outline: 2px solid red; margin: 1rem">
                            {{ chunk.restored }}
                        </div>
                    </details>
                    <div style="outline: 2px solid blue; margin: 1rem">
                        {{ chunk.raw }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
